html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body{
    margin-bottom: 100px;
    background-color: white;
    background-size: 100%;
    background-attachment: scroll;
}
.logo {
/*    margin-left: 85%;*/
    width: 350px;
    display: flex;
    align-items: flex-end;
}

.texto {
    display: flex;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 18px;
    margin-top: 100px;
    margin-left: 20px;
}




.nav-link:hover {
    color: gray;
    font-weight: 700;
    background-color: #a5a2a2;
   
}

.active {
    font-weight: 700;
    border-bottom: 2px double white;
}

.Equip{
    background-color: #3c3c3c ;
    display: inline;
    font-weight: 800;
}

